.App {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: grey;
}
.imagen {
  width: 300px;
  height: 200px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: grey;
}

.lista {
  display: flex;
  flex-direction: column;

  background-color: gainsboro;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 400px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
